<div class="row">
  <div class ="col-sm">
    <div class="jumbotron mt-4">

      <h1>Holyrood Search</h1>
      <p class="lead">Search speeches, questions and motions at the Scottish Parliament.</p>

      <form id="search-form" action="{% url 'search' %}" method="get" accept-charset="utf-8" onsubmit="searchSubmit()">
        <div class="form-group row">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Enter search term...">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Search</button>
            </div>
          </div>
        </div>
        <fieldset class="form-group row">
          <div class="row">
            <div class="col-sm-4">
              <legend class="pt-0">Date range</legend>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="date-range" id="last-year" value="last-year">
                <label class="form-check-label" for="last-year">
                  Last year
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="date-range" id="last-5-years" value="last-5-years">
                <label class="form-check-label" for="last-5-years">
                  Last 5 years
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="date-range" id="last-10-years" value="last-10-years">
                <label class="form-check-label" for="last-10-years">
                  Last 10 years
                </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="date-range" id="all-time" value="all-time" checked>
                  <label class="form-check-label" for="all-time">
                    All time
                  </label>
              </div>
            </div>
            <div class="col-sm-4">
              <legend class="pt-0">Type</legend>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="cont" id="cont" checked>
                <label class="form-check-label" for="cont">
                  Spoken contributions
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="mot" id="mot" checked>
                <label class="form-check-label" for="mot">
                  Motions
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="qs" id="qs" checked>
                <label class="form-check-label" for="qs">
                  Written questions &amp; answers
                </label>
              </div>
            </div>
            <div class="col-sm-4">
              <legend class="pt-0">Party</legend>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="snp" id="snp" checked>
                <label class="form-check-label" for="snp">SNP</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="lab" id="lab" checked>
                <label class="form-check-label" for="lab">Labour</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="con" id="con" checked>
                <label class="form-check-label" for="con">Conservative</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="ld" id="ld" checked>
                <label class="form-check-label" for="ld">Liberal Democrat</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="grn" id="grn" checked>
                <label class="form-check-label" for="grn">Green</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="oth" id="oth" checked>
                  <label class="form-check-label" for="oth">Others</label>
                </div>
            </div>
          </div>
        </fieldset>
      </form>

    </div>
  </div>
</div>

