<div class="row">
  <div class ="col-sm">
    <div class="jumbotron mt-4">

      <h1>Holyrood Search</h1>
      <p class="lead">Visualise motions from the Scottish Parliament.</p>

      <form id="search-form" action="{% url 'search' %}" method="get" accept-charset="utf-8" onsubmit="searchSubmit()">
        <div class="form-group row">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Enter search term...">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Search</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

